server:
  port: 8088
  context-path: /MQ_WeTwitter

spring:
  application:
    name: MQ_WeTwitter
  transaction:
    default-timeout: 60 #Default transaction timeout in seconds.
  mvc:
    view:
      prefix: /WEB-INF/views
      #prefix: /templates/
      suffix: .jsp
  datasource:
    hikari:
      driver-class-name: com.mysql.jdbc.Driver
      jdbc-url: jdbc:mysql://localhost:3306/sunw
      username: root
      password: sw123456
      maximum-pool-size: 10
      minimum-idle: 5
  devtools:
    restart:
      enabled: true
      exclude: WEB-INF/**


  
      
    
  
