.indexSearchBtn {
	margin-right: 0px;
	float: right;
	display: table-cell;
	vertical-align: middle;
}

.indexSearchContent {
	margin-right: 6px;
	float: right;
	width: 120px;
    height: 30.5px;
}
.indexAdd {
	margin-right: 8px;
	float: right;
}

.search-box-msg {
  /* width: 50%;
  height: 50%;
  background: #fff;
  padding: 20px;
  color: #666;
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px; */
  
   display: none; 
   position: absolute; 
   top: 20%; 
   left: 30%; 
   width: 40%; 
   height: 55%; 
   padding: 0 20px 20px 20px; 
   border: 5px solid #808080; 
   background-color: #fff; 
   z-index:1002; 
   overflow: auto; 
}

 .search-box-msg input[type="text"] {
 	margin-left: 20px;
    outline: none;
    margin: 20px auto;
    border-radius: 8px;
    text-indent: 2em;
}
.close {
	/* margin-right: 2px; */
	float: right;
}
.chat-discussion p {
	color: #c0c0c0;
	text-align:center;
	font-size: 30px;
    font-family: "微软雅黑";
}
.addFriendremind-box-msg {
   display: none; 
   position: absolute; 
   top: 30%; 
   left: 40%; 
   width: 20%; 
   height: 35%; 
   /* padding: 0 5px 5px 5px;  */
   border: 5px solid #408080; 
   background-color: #fff; 
   z-index:1002; 
   overflow: auto; 
}
.addFriendremind-box-msg .title {
	position: absolute;
	width: 100%;
	height: 20%;
	background-color: #F5F5F5;
	text-align:center;
	border-bottom: 0px solid #ddd; 
	font-family: "微软雅黑";
}

.addFriendremind-box-msg .content {
	margin-top:14%;
	position: absolute;
	width: 100%;
	height: 80%;
	background-color: #ffffff;
}
.addFriendremind-box-msg .content p {
	text-align: left;
	margin-top: 5%;
	margin-left: 5%;
}
.addFriendremind-box-msg .content textarea {
	text-align: left;
	margin-left: 5%;
	height: 55%;
	width: 90%;
}
.addFriendremind-box-msg .content button {
	float:right;
	margin-right: 5%;
	margin-top:4%;
}
.nav {
	margin-right: 28px;
	margin-top: -7%;
	float: right;
	display: table-cell;
	vertical-align: middle;
}
.nav ul {
    float:right;
    display:flex;（可以让父元素内的子元素排成一行）
    list-style:none;
}
.nav ul li{
	list-style-type:none;
   /*  border-right:1px solid rgba(0,0,0,.2); */
    width:40px;
}
.nav ul li i{
	font-size: 28px;
}

/* * {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "微软雅黑";
}

 
.all {
    width: 100%;
    height: 790px;
    background-color: white;
    background: linear-gradient(to right, #879eee, #ba78dc); 标准的语法
 
}
 
.chat_index {
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    position: relative;
    top: 100px;
    margin: 0 auto;
}
 
.chat_banner {
    background: linear-gradient(to right, #a41adc, #ee1351, #a41adc); 标准的语法
    background: linear-gradient(to top, rgba(9, 216, 237, 0.99), #72cad4);
    width: 999px;
    height: 50px;
    border: 1px solid blue;
}
 
.chat_body {
    width: 999px;
    height: 546px;
    border: 1px solid red;
}
 
.chat_online {
    overflow: hidden;
    float: left;
    height: 546px;
    width: 200px;
    border: 1px solid yellow;
    background-color: white;
}
 
.search_online {
    text-indent: 2em;
    height: 40px;
    border: 1px solid black;
}
 
.search_online input[type="text"] {
    outline: none;
    margin: 2px auto;
    height: 30px;
    width: 60%;
    border-radius: 8px;
    text-indent: 2em;
}
 
.online_friend ul li {
 
    list-style-type: none;
}
 
.online_friend ul li {
 
    height: 60px;
    border-bottom: 1px solid #1c1f21;
    margin-top: 10px;
}
 
.a_friend {
 
    border: 1px solid #2328ff;
    height: 55px;
    background-color: #39fffe;
 
}
 
.head_portrait {
 
    background-color: #b532ff;
    margin: 6px 6px;
    float: left;
    height: 40px;
    width: 40px;
    border: 1px solid orangered;
    border-radius: 50%;
}
 
.head_text {
    padding: 3px;
    font-size: 22px;
    text-align: center;
    vertical-align: center;
    margin-top: 3px;
}
 
.friend {
 
    float: right;
    height: 54px;
    width: 140px;
    border: 1px solid rebeccapurple;
}
 
.friend .name {
 
    margin: 4px 6px;
    float: left;
}
 
.friend .this_time {
    margin-top: 4px;
    float: right;
}
 
.chat_main {
    float: left;
    width: 593px;
    height: 546px;
    border: 1px solid seagreen;
    background-color: white;
    background: url("../img/圣诞.jpg") no-repeat;
    background-size: cover;
}
 
.send_message {
    width: 593px;
    height: 65px;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to top, rgba(9, 216, 237, 0.99), #72cad4);
}
 
.send_message input[type="text"] {
    width: 470px;
    height: 30px;
    margin-top: 16px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    text-indent: 2em;
    outline: none;
    background-color: white;
    border: none;
}
 
.send_message input[type="button"] {
    border-radius: 0 10px 10px 0;
    width: 35px;
    height: 30px;
    background-color: white;
    border: none;
    margin-left: 0;
    background-color: white;
    border: none;
    outline: none;
 
}
 
.send_message input[type="button"]:hover {
    background-color: orangered;
}
 
.send_message input[type="button"]:active {
    background-color: #879eee;
}
 
.chat_namecard {
    float: right;
    width: 200px;
    height: 546px;
    border: 1px solid saddlebrown;
    border-color:black;
    background-color: white;
}
 
 
.chat_content ul{
list-style-type: none;
}
.chat_content{
    overflow: auto;
    width: 595px;
    设置高度滚动条才有效
    height: 475px;
}
.chat_content li{
    margin-top: 10px;
    width: 585px;
    clear: both;
    display: block;
 
}
 
.chat_content li img{
    margin: 6px 0 0 0;
}
 
.chat_content li span {
    background: #F5F5F5;
    padding: 10px;
    border-radius: 10px;
    最大宽度不能太长，不然布局会混乱
    max-width: 400px;
    border: none;
    box-shadow: 0 0 3px #879eee;
    margin: 6px 10px 0 10px;
    overflow: hidden;
}
 
.chat_content li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
 
.chat_content li img.imgleft {
 margin-left: 10px;
    float: left;
}
 
.chat_content li img.imgright {
 margin-right: 10px;
    float: right;
}
 
.chat_content li span.spanleft {
    float: left;
}
 
.chat_content li span.spanright {
    float: right;
}
 */